body h1 {
    text-align: center;
}
body h3{
    text-align: right;
    text-decoration: underline;
}
.dotted-line {
    border-bottom: 5px dotted black;
    margin: 50px 0;
}
body img{
    margin-right: auto;
    margin-left: auto;
    display: block;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    margin: 0 auto;
    width: 1000px;
    background-color: beige;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-top:  15px;
    padding-bottom:  15px;
    right: 1.5em;
    left: 1.5em;
    border: 1px solid black ;
    border-radius: 25px;
    box-shadow: 5px 5px 0 0;
}
.model-viewer-container {
    display: flex;
    justify-content: center;
}
html {
    background: linear-gradient(to bottom, white, black);
}
nav ul li {
    display: inline;
    margin: 0 10px;
}
nav ul li a {
    text-decoration: none;
    color: black;
}